<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape3 bg-color3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>Book Appointment</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>Book Appointment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="booking-area ptb-100">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>Appointment</span>
            <h2>Book an Appointment</h2>
        </div>

        <div class="book-form">
            <div class="form-sign">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Your Email</label>
                                <input type="text" class="form-control" placeholder="Your Email">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Your Phone</label>
                                <input type="text" class="form-control" placeholder="Your Phone">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Your Message</label>
                                <textarea name="message" class="form-message textarea-hight"  cols="30" rows="5"  placeholder="Your Message"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 text-center">
                            <button type="submit" class="default-btn1 btn-two"><i class="fas fa-paper-plane"></i> Book An Appointments</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>